<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ourapp">




    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--推送所需的权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!--百度定位权限-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--百度定位权限-->

    <!--百度地图权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--百度地图权限-->

    <uses-permission android:name="android.permission.CALL_PHONE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        android:largeHeap="true">
        <!--百度的定位设置AcessKey-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="619rMDYPu2iuxGWNFmzPHt1YsgnM0MsI" />

        <!--百度的定位service-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <!--添加了largeHeap参数 增大app的内存 表面上解决了上传图片过大引起崩溃的问题 但应加入自动压缩图片功能-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MissionInfo"></activity>
        <activity android:name=".user_information.MyAccount"></activity>
        <activity android:name=".MyMission"></activity>
        <activity android:name=".MySetting"></activity>
        <activity android:name=".apply"></activity>
        <activity android:name=".MyTask"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".authenticate.real_name_authenticate"
            android:hardwareAccelerated="false"></activity>
        <activity android:name=".authenticate.agency_authenticate"
            android:hardwareAccelerated="false"></activity>
        <activity android:name=".EditInfo"></activity>
        <activity android:name=".MissionPub"></activity>
        <activity android:name=".question_and_answer.question_and_answer"></activity>
        <activity android:name=".question_and_answer.ask_question"></activity>
        <activity android:name=".question_and_answer.edit_answer"></activity>
        <activity android:name=".question_and_answer.question_and_answer_detail"></activity>
        <activity android:name=".ChoosePeople"></activity>
        <activity android:name=".CheckPeople"></activity>
        <activity android:name=".question_and_answer.question_and_answer_detail_publisher"></activity>

        <activity android:name=".friends.search_user"></activity>
        <activity android:name=".user_information.other_information"></activity>
        <activity android:name=".user_information.detailed_information"></activity>
        <activity android:name=".friends.confirm_friend"></activity>
        <activity android:name=".friends.send_friend_application"></activity>
        <activity android:name=".friends.friend_application"></activity>
        <activity android:name=".EditIntro"></activity>
        <activity android:name=".advice_feedback"></activity>
        <activity android:name=".real_name_authentication_reply"></activity>
        <activity android:name="reject_authentication_reason"></activity>
        <activity android:name=".modify_password"></activity>
        <activity android:name=".RatingUser"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".CheckMission"></activity>
        <activity android:name=".citylist.CityListActivity"></activity>
        <activity android:name=".ForgetPassword"></activity>
        <activity android:name=".ResetPassword"></activity>
        <activity android:name=".mission_audit_reply"></activity>
        <activity android:name=".about_us"></activity>
        <activity android:name=".wish.wish_detail"></activity>
        <activity android:name=".wish.make_wish_personnal"></activity>
        <activity android:name=".wish.wish_pub_with_mission"></activity>
        <activity android:name=".wish.wish_list"></activity>
        <activity android:name=".agency_authentication_reply"></activity>
        <activity android:name=".LocationTest"></activity>
        <activity android:name=".NearbyWish"></activity>

    </application>



</manifest>